html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #4d4d4d;
}

.wrapper {
    float: none;
    margin: 0 auto;
    width: 750px;
    height: 100%;
}

.content {
    float: left;
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}

.chart {
    float: left;
    width: 420px;
    height: 400px;
    padding: 21px 0 9px 0;
    box-sizing: border-box;
}

.input-wrapper {
    float: left;
    width: 330px;
    height: auto;
    box-sizing: border-box;
}

.input-block {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0 auto;
    float: none;
    width: 280px;
    margin-top: 25px;
}

.input-block table {
    border: 2px solid #f2f2f2;
    width: 100%;
}

.input-block button {
    margin-top: 15px;
    width: 100%;
    height: 30px;
}

.input-block table tr{
    height: 40px;
}

.input-block table td, .input-block input {
    text-align: center;
}

.input-block table td {
    border-bottom: 1px solid #f2f2f2;
    min-width: 30px;
    white-space: nowrap;
    vertical-align: middle;
}

.input-block table td.text {
    padding-left: 3px;
    padding-right: 3px;
}

.input-block table td:first-child {
    border-right: 1px solid #f2f2f2;
}

.input-block table td:first-child {
    padding-left: 5px;
    padding-right: 4px;
    text-align: right;
}

.input-block table td:nth-child(2) {
    padding-left: 5px;
    min-width: 40px;
}

.input-block table td:last-child {
    padding-right: 5px;
    min-width: 40px;
}

.input-block table tr.head {
    height: 20px;
}

.input-block table tr.head td {
    text-align: center;
    font-weight: 600;
}

.input-block input {
    width: 21px;
    box-sizing: content-box;
}

.input-block input.error {
    background-color: #ffe6e6;
    border: 1px solid;
}

.hide {
    display: none;
}

.message {
    background-color: white;
    width: 100%;
    padding: 1em 1em 1em 1.5em;
    border-left-width: 6px;
    border-left-style: solid;
    border-right-width: 6px;
    border-right-style: solid;
    border-radius: 3px;
    position: relative;
    line-height: 1.5;
    margin: 30px 0 20px 0;
    float: left;
}

.message ul {
    list-style: disc;
    margin: 0 0 0 15px;
}

.message + .message {
    margin-top: 2em;
}

.message:before {
    color: white;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    left: -3px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.message p {
    margin: 0 0 1em;
}

.message p:last-child {
    margin-bottom: 0;
}

.message--error {
    border-left-color: firebrick;
    border-right-color: firebrick;
    color: firebrick;
}

.message--error:before {
    background-color: firebrick;
    content: "‼";
}

.message--warning {
    border-left-color: darkorange;
}

.message--warning:before {
    background-color: darkorange;
    content: "!";
}

.message--success {
    border-left-color: darkolivegreen;
}

.message--success:before {
    background-color: darkolivegreen;
    content: "✔";
}

/* History */
.result table {
    border: 2px solid #4d4d4d;
    width: 100%;
}

.result th {
    text-align: center;
    font-weight: 600;
}

.result tr th {
    background-color: #5d5d5d;
    color: white;
    vertical-align: middle;
}

.result tr:first-child th {
    height: 30px;
}

.result td, .result th {
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    min-width: 30px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.result td {
    background-color: #6d6d6d;
    color: #dedede;
    vertical-align: middle;
    height: 25px;
}

.result th:first-child {
    width: 80px;
}

.content.result {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

button.back {
    background-color: #5d5d5d;
    border: 1px solid #dedede;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}