html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #4d4d4d;
}

.wrapper {
    float: none;
    margin: 0 auto;
    width: 750px;
    height: 100%;
}

.content {
    float: left;
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
}

.chart {
    float: left;
    width: 400px;
    height: 400px;
    padding: 20px 5px 5px 10px;
    box-sizing: border-box;
}

#myChart {
    width: 100%;
    height: 100%;
}

.input-wrapper {
    float: left;
    width: 350px;
    height: 400px;
    box-sizing: border-box;
}

.input-block {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin: 0 auto;
    float: none;
    width: 265px;
    margin-top: 25px;
}

.input-block table {
    border: 2px solid #4d4d4d;
    width: 265px;
}

.input-block button {
    margin-top: 15px;
    width: 100%;
    height: 30px;
}

.input-block table td, .input-block input {
    text-align: center;
}

.input-block table td {
    border-right: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    min-width: 30px;
    white-space: nowrap;
}

.input-block table td:first-child {
    padding-left: 2px;
    padding-right: 5px;
    text-align: left;
}

.input-block input {
    width: 100%;
}

.input-block input.error {
    background-color: #ffe6e6;
    border: 1px solid;
}

.hide {
    display: none;
}

.message {
    background-color: white;
    width: 100%;
    padding: 1em 1em 1em 1.5em;
    border-left-width: 6px;
    border-left-style: solid;
    border-right-width: 6px;
    border-right-style: solid;
    border-radius: 3px;
    position: relative;
    line-height: 1.5;
    margin: 30px 0 20px 0;
    float: left;
}

.message ul {
    list-style: disc;
    margin: 0 0 0 15px;
}

.message + .message {
    margin-top: 2em;
}

.message:before {
    color: white;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    left: -3px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.message p {
    margin: 0 0 1em;
}

.message p:last-child {
    margin-bottom: 0;
}

.message--error {
    border-left-color: firebrick;
    border-right-color: firebrick;
    color: firebrick;
}

.message--error:before {
    background-color: firebrick;
    content: "‼";
}

.message--warning {
    border-left-color: darkorange;
}

.message--warning:before {
    background-color: darkorange;
    content: "!";
}

.message--success {
    border-left-color: darkolivegreen;
}

.message--success:before {
    background-color: darkolivegreen;
    content: "✔";
}

.result table {
    border: 2px solid #4d4d4d;
    width: 100%;
}

.result th {
    text-align: center;
    font-weight: 600;
}

.result td, .result th {
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    min-width: 30px;
    white-space: nowrap;
    text-align: center;
}

.result th:first-child {
    width: 80px;
}

.content.result {
    margin-top: 50px;
    width: 100%;
    height: auto;
}