@{

}
<div class="wrapper">
    <div class="content">
        <div class="input-wrapper">
            <form method="post">
                <div class="input-block">
                    <table>
                        <tr class="head">
                            <td colspan="7">Сhart options:</td>
                        </tr>
                        <tr>
                            <td>Function:</td>
                            <td class="text">y =</td>
                            <td><input type="text" name="inputA" value="1"></td>
                            <td class="text">x^2 +</td>
                            <td><input type="text" name="inputB" value="1"></td>
                            <td class="text">x +</td>
                            <td><input type="text" name="inputC" value="1"></td>
                        </tr>
                        <tr>
                            <td>Step:</td>
                            <td><input type="text" name="step" value="1"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>From:</td>
                            <td><input type="text" name="rangeFrom" value="-10"></td>
                            <td class="text">to</td>
                            <td><input type="text" name="rangeTo" value="10"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <button type="button" onclick="StartPlot()">Plot</button>
                    <button type="button" onclick="document.location.href = '/Home/History'">History</button>
                </div>
            </form>
        </div>
        <div class="chart">
            <canvas id="myChart" width="400" height="370"></canvas>
        </div>
    </div>
    <div class="message message--error hide">
        <ul class="validation-list-error">
        </ul>
    </div>
</div>
@Scripts.Render("~/bundles/scripts-chart")